[user]
	email = manuel@bonkii.com
	name = Manuel Bonk
	signingkey = 283E45C8D59E264CD700880DFFB47B36E23F399C
[alias]
	st = status
	co = checkout
	ca = commit --amend
	suir = submodule update --init --recursive
	fa = fetch --all --prune
	fft = merge --ff-only
[commit]
	gpgsign = true
